body {
    background-color: #487475;
    font-family: 'Fredoka One';
    max-width: 500px;
    max-height: 500px;
}

.WebContainer {
    width: 100%;
    min-width: 1000px;
    height: auto;
}

button {
    font-family: 'Fredoka One';
    border-radius: 10px
}

#whiteboard {
    border: 5px solid black;
    background-color: white;
    position: relative;
    top: 125px;
    left: 30px;
}


/* Whiteboard buttons*/

.dropdown_button {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

#eraser {
    position: absolute;
    top: 152px;
    left: 260px;
}

#eraser:hover {
    background-color: rgb(41, 40, 40);
}

#clear_all {
    position: absolute;
    background-color: white;
    color: red;
    padding: 16px;
    font-size: 30px;
    border: none;
    top: 152px;
    left: 390px;
    outline: none;
}

#clear_all:hover {
    color: rgb(141, 1, 1);
}


/* Dropdown menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    right: 3;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropdown_button {
    background-color: rgb(41, 40, 40);
}


/* Artwork display */

.artwork {
    position: relative;
    left: 1280px;
    top: -800px;
    font-size: 60px;
    text-shadow: 4px 4px black;
}

#subheading {
    top: -840px;
    left: 1320px;
    font-size: 20px;
    font-style: italic;
    text-shadow: 2px 2px white;
    text-shadow: none;
}

#art {
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.box {
    width: 450px;
    height: 600px;
    border: 5px solid none;
    position: relative;
    top: -830px;
    left: 1300px;
}

#canvas {
    position: absolute;
    top: 13px;
    left: 480px;
}


/* Randomizer button */

#randomizer {
    position: absolute;
    top: 850px;
    left: 1460px;
    outline: none;
    transition-duration: 0.8s;
    transition-property: transform;
}

#randomizer:hover {
    size: 170px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

/* Print button */
#print {
    font-size: 50px;
    border: 5px solid black;
    width: 200px;
    position: absolute;
    top: 950px;
    left: 60px;
}

#print:hover {
    background-color: rgb(41, 40, 40);
}

/* Social media buttons */
#facebook {
    height: 7%;
    position: absolute;
    top: 956px;
    left: 275px;
}

#twitter {
    height: 10%;
    position: absolute;
    top: 945px;
    left: 345px;
}

img.darken {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

img.darken:hover {
    -webkit-filter: brightness(60%);
   filter: brightness(60%);
}
